.bg-pink {
    background: rgb(247, 152, 174);
}

.navbar-brand {
    font-size: 1.75em;
    color: #fff;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.55em;
        margin-left: 5%;
    }
}

.carousel-item img{
    margin-top: 70px; /* 根据需要调整上边距的数值 */
    object-fit: cover;
  width: 100%;
  height: 100%;
  }

.carousel-inner {
    transition: opacity 0.5s ease-in-out;
}

.svg-inline--fa {
    display: var(--fa-display,inline-block);
height: 1em;
overflow: visible;
vertical-align: -.125em;
}

.custom-navbar-toggler-icon{
    fill: white;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
--bs-nav-link-padding-y: 0.5rem;
--bs-nav-link-font-weight: ;
--bs-nav-link-color: var(--bs-navbar-color);
--bs-nav-link-hover-color: var(--bs-navbar-hover-color);
--bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
display: flex;
flex-direction: column;
padding-left: 0;
margin-bottom: 0;
list-style: none;
}


.mx-0 {
    margin-right: 0 !important;
margin-left: 0 !important;
}


.title-box {
    position: absolute;
    top: 150px;
    left: 5%;
    width: 400px;
    text-align: center;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .title-box {
        position: absolute;
        z-index: 1;
        width: 90px;
        top: 12vh;
      left: 10%;
    }
  }
  

.content--img {
    max-width: 100%;
    height: auto;
}

.big-title {
    color: rgb(0, 128, 255);
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 9rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .big-title {
        font-size: 6rem;
    }
}

.big-title2 {
    color: rgb(107, 186, 255);
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 9rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .big-title2 {
        font-size: 6rem;
    }
}

.big-title3 {
    color: rgb(141, 213, 255);
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 9rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .big-title3 {
        font-size: 6rem;
    }
}

.photo-box {
    margin-top: 40px;
    margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
    .photo-box {
      flex-direction: column;
    }
  }

@media screen and (max-width: 768px) {
    .osaka1 {
        margin-top: 2%;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 1200px) {
    .photo-box {
        margin-top: 40px;
    margin-bottom: 60px;
    }
}

.footer {
    background: rgb(247, 152, 174);
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #fff;
}

.img_fluid {
    right: 5%;
}


.img-zoom {
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
}

.img-zoom:hover {
    transform: scale(1.2);
    z-index: 2;
}

@keyframes up-down-animation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* 應用動畫到文字 */
.animated-text {
    animation: up-down-animation 1s infinite;
}

.floating-image {
    position: absolute;
    animation: floatAnimation 4s ease-in-out infinite;
}

@keyframes floatAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

